@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #f1f5f9;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-textMain: #0f172a;
  --color-textMuted: #64748b;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-textMain);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
  }
}